@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #212438;
  opacity: 1;
  background-image: radial-gradient(#4b4b4c 2px, transparent 2px),
    radial-gradient(#4b4b4c 2px, #212438 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}
